
body{
	background-color:#fff;
}
table {
    border-collapse: collapse;
}
td{
	width:20px;
	height:20px;
	border:1px dotted #111;
}
.wall{
	background-color: #000;
}
.snake{
	background-color: green;
}
.fruit{
	background-color: red;
}
#score{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
	margin-top: 30px;
}